{{#partial "content"}}
<h1>Create a new team:</h1>
        <form action="new" method="post">
            <label for="name">Team name:</label>
            <input id="name" name="name" type="text">
            <br>
            <label for="description">Team description:</label>
            <input id="description" name="description" type="text">
            <br>
        <button type="submit" class="btn btn-default">Add</button>
    </form>

{{/partial}}

{{> layout.hbs}}