{{#partial "content"}}
    <h2>Use these links below to keep track of the teams:</h2>
    <ul>
        <li><a href="/teams/new">Add a new team</a></li>
        <li><a href="/teams">See all existing teams</a></li>
    </ul>
{{/partial}}

{{> layout.hbs}}